@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300;1,600&display=swap");

@font-face {
  font-family: "Kaushanscript";
  src: url("Fonts/Kaushan_Script/KaushanScript-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.6);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.8);
}

body {
  overflow-x: hidden;
  /* background-image: linear-gradient(300deg, #10bbce, #42d7e7); */
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

nav.navigation {
  top: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 5% 3fr 1fr 1fr;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
}

nav.navigation span.logo {
  font-size: 3vw;
  grid-column: 2;
  padding-top: 0vh;
  font-family: "Kaushanscript";
  text-decoration: none;
  color: white;
  user-select: none;
}

nav.navigation ul {
  grid-column: 4;
  display: flex;
  flex-direction: row;
  list-style: none;
  text-decoration: none;
}

nav.navigation ul li {
  padding-right: 2vw;
  padding-top: 0vh;
}

nav.navigation ul li a {
  font-size: 1.1vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* font-family: "Josefin Sans", sans-serif; */
  color: white;
  user-select: none;
}

nav.navigation ul li a::after {
  content: "";
  display: block;
  background: white;
  width: 0px;
  height: 2px;
  transition: width 1s;
}

nav.navigation ul li a:hover::after {
  width: 100%;
  transition: width 1s;
}

div.add_pat {
  border: 1.5px solid black;
  border-radius: 10px;
  background-color: white;
  width: 40%;
  padding: 20px;
  position: absolute;
  transition: all 0.5s;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

div.add_pat p.pat_id {
  float: right;
  margin: 0;
  font-size: 1.2rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
}

div.add_pat img {
  position: absolute;
  top: 25%;
  left: 65%;
}

div.add_pat form {
  margin: 40px 0 0 0;
}

div.add_pat form input {
  border: none;
  border-bottom: 2px solid black;
  margin-bottom: 30px;
  outline: none;
}

div.add_pat form textarea#issue {
  width: 60%;
  resize: none;
  border: none;
  border-bottom: 2px solid black;
  outline: none;
}

div.add_pat form textarea#issue::-webkit-scrollbar {
  display: none;
}

div.add_pat form label.heading,
div.add_pat form label.sub-head,
div.add_pat form label.issue {
  position: absolute;
  left: 20px;
  transition: all 0.5s;
}

div.add_pat form input#sub-head {
  width: 40%;
}

div.add_pat form input#heading:focus ~ label.heading,
div.add_pat form input#heading:valid ~ label.heading,
div.add_pat form input#sub-head:focus ~ label.sub-head,
div.add_pat form input#sub-head:valid ~ label.sub-head,
div.add_pat form textarea#issue:focus ~ label.issue,
div.add_pat form textarea#issue:valid ~ label.issue {
  transform: translateY(-100%);
  font-size: 16px;
  color: rgb(65, 65, 228);
  transition: all 0.5s;
}

div.add_pat form button {
  margin: 15px 10px 0 0;
  padding: 5px;
  width: 60px;
  border-radius: 5px;
  outline: none;
}

.disp_block {
  transform: scale(1);
  opacity: 1;
}

.disp_none {
  transform: scale(0);
  opacity: 0;
}

main {
  margin: 1% 5%;
}
main section.pat_head {
  float: left;
  user-select: none;
}

main section.pat_head p.pat_name {
  font-size: 3vw;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
}

main section.pat_head p.pat_id {
  font-size: 1.5vw;
  font-family: "Kaushanscript", sans-serif;
  font-weight: 500;
}

hr {
  margin: 1vw 2vw;
  font-weight: 600;
  opacity: 0.65;
  clear: both;
}

main div.prescription_list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
}

main div.prescription_list section.empty {
  grid-column: 1;
  grid-row: 2;
  margin: auto;
  user-select: none;
}

main div.prescription_list section.empty img {
  opacity: 0.5;
}

main div.prescription_list section.empty p.context {
  font-size: 1.5vw;
  font-weight: 510;
  font-family: "Josefin Sans", sans-serif;
}

main div.prescription_list section.presc_box {
  position: relative;
  margin: auto;
  padding: 15px;
  font-family: "Josefin Sans", sans-serif;
  border: 1px solid black;
  border-radius: 10px;
  width: 60%;
  cursor: pointer;
  user-select: none;
  transition: all 0.5s;
  background-color: white;
}

main div.prescription_list section.presc_box p.heading {
  font-size: 2vw;
  font-weight: 501;
}

main div.prescription_list section.presc_box p.sub_head {
  font-size: 1.5vw;
  font-family: "Josefin Sans", sans-serif;
  margin: 1vh 0 1vh 0;
}

main div.prescription_list section.presc_box:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  transition: all 0.5s;
  transform: scale(1.05, 1.05);
}

main div.prescription_list section.presc_box p.date {
  float: right;
  font-size: 1.1vw;
}

/* .fullscreen {
  width: 80%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s;
} */
